@font-face {
  font-family: "noto";
  src: url("../public/fonts/NotoSansThai-Regular.ttf") format("truetype");
}

@import "tailwindcss";

@theme {
  --font-noto: "noto", sans-serif;
  --color-customRed: #973735;
  --color-customYellow: #FCB53B;
  --color-customDarkYellow: #FF9A00;
  --color-customWhite: #ffffff;
  --color-customBlack: #333333;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.navbar-container {
  background: var(--color-customWhite);
  height: calc(100% - 80px);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 15px;
  border: 2px red solid;
}

::-webkit-scrollbar-track {
  background: var(--color-customWhite);
}

::-webkit-scrollbar-thumb {
  background: var(--color-customYellow);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-customDarkYellow);
}

.text-stroke-1 {
    -webkit-text-stroke: 1px var(--color-customBlack);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  cursor: pointer;
}